* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    background: linear-gradient(#1abc9c, blue);
    color: white;
}

.navbar {
    display: flex;
    background-color: #001a44;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #1abc9c;
    color: black;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #c7d1e0;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.img {
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 20px;
    border: 1px solid grey;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) { /* if the screen is max 700px, then do... */
    .container, .navbar {
        flex-direction: column;
    }
}
